<h1>ADD BURGER</h1>

<div class="form-container">

  <form action="/result" method="post">

    <div class="field">
      <label for="name">Name: </label>
      <input type="text" name="name" value="">
    </div>

    <div class="field">
      <label for="eatery">Eatery: </label>
      <select name="eatery" id="eatery">
        <% @eateries.each do |eatery| %>
          <option value="<%= eatery.id %>"> <%=eatery.name%> </option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <label for="price">Price: </label>
      <input type="number" name="price" value="">
    </div>

    <div class="field">
      <label for="dealname">Deal Name: </label>
      <input type="text" name="Deal Name" value="">
    </div>



    <div class="field">
      <label for="dealType">Deal Type: </label>
      <select name="dealType" id="dealType">
        <% @deals.each do |deal| %>
          <option value="<%= deal.id %>"> <%=deal.name%> </option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <label for="day">Day: </label>
      <select name="dealType" id="dealType">
        <% @days.each do |day| %>
          <option value="<%= day.id %>"> <%=day.name%> </option>
        <% end %>
      </select>
    </div>

    <div class="submit">
      <input type="submit" name="submit" value="CREATE">
    </div>

    </div>

  </form>
</div>
