<h1> <%= @eatery %> </h1>


<div class="table-container">
<table>
    <tr>
        <div class="tcell">
          <th>Burger</th>
        </div>
        <div class="tcell">
          <th>Price</th>
        </div>
        <div class="tcell">
          <th>Deal</th>
        </div>
        <div class="tcell">
          <th>Day</th>
        </div>
        <div class="tcell">
          <th>Special Price:</th>
        </div>
    </tr>


  <% list = [] %>
  <% for match in @matches %>
    <% if @eatery == match.fetch_eatery() %>
    <tr>
      <div class="tcell">
        <td><%= match.fetch_burger() %> </td>
      </div>
      <div class="tcell">
        <td><%= match.fetch_price() %> </td>
      </div>
      <div class="tcell">
        <td><%= match.fetch_deal() %> </td>
      </div>
      <div class="tcell">
        <td> <%= match.fetch_day() %> </td>
      </div>
      <div class="tcell">
        <td>
          <% price = match.fetch_price() %>
          <% newprice = match.get_discount(price) %>
          <%= newprice %>
      </td>
    </tr>
    <% list << match.fetch_burger() %>
    <% end %>
    <% end %>
    <% for nodeal in @nodeals %>
      <% if !list.include?(nodeal.name) %>
      <tr>
        <div class="tcell">
          <td><%= nodeal.name() %> </td>
        </div>
        <div class="tcell">
          <td><%= nodeal.price() %> </td>
        </div>
        <div class="tcell">
          <td> No deal </td>
        </div>
        <div class="tcell">
          <td> N/A </td>
        </div>
      </tr>
    <% end %>
    <% end %>
</table>
</div>
