

<h1>All Entries:</h1>

<div class="table-container">
<table>
  <tr>
    <div class="tcell">
      <th>Burger</th>
    </div>
    <div class="tcell">
      <th>Price</th>
    </div>
    <div class="tcell">
      <th>Eatery</th>
    </div>
    <div class="tcell">
      <th>Deal</th>
    </div>
    <div class="tcell">
      <th>Day</th>
    </div>
    <div class="tcell">
      <th>Special Price:</th>
    </div>
  </tr>
  <% for match in @matches %>
    <tr>
      <div class="tcell">
        <td><%= match.fetch_burger() %> </td>
      </div>
      <div class="tcell">
        <td><%= match.fetch_price() %> </td>
      </div>
      <div class="tcell">
        <td><%= match.fetch_eatery() %> </td>
      </div>
      <div class="tcell">
        <td><%= match.fetch_deal() %> </td>
      </div>
      <div class="tcell">
        <td> <%= match.fetch_day() %> </td>
      </div>
      <div class="tcell">
        <td>
          <% price = match.fetch_price() %>
          <% newprice = match.get_discount(price) %>
          <%= newprice %>
      </td>
    <% end %>
  </tr>
</table>
</div>
