<h1 style="margin-bottom: 0px;">LINK DEAL</h1>

<p style="text-align: center;">Choose from the existing options below to link <br>
a deal to a burger. To create a new deal or burger,
return to the NEW menu and select one of those options.</p>

<div class="form-container">

  <form action="/link_conf" method="post">

    <div class="field">
      <label for="burger_id">Burger: </label>
      <select name="burger_id" id="burger_id">
        <% @burgers.each do |burger| %>
          <option value="<%= burger.id %>"> <%=burger.name%> </option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <label for="eatery_id">Eatery: </label>
      <select name="eatery_id" id="eatery_id">
        <% @eateries.each do |eatery| %>
          <option value="<%= eatery.id %>"> <%=eatery.name%> </option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <label for="deal_id">Deal: </label>
      <select name="deal_id" id="deal_id">
        <% @deals.each do |deal| %>
          <option value="<%= deal.id %>"> <%=deal.name%> </option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <label for="day_id">Day: </label>
      <select name="day_id" id="day_id">
        <% @days.each do |day| %>
          <option value="<%= day.id %>"> <%=day.name%> </option>
        <% end %>
      </select>
    </div>

    <div class="field" style="margin-left: 85px;">
      <input type="submit" name="submit" value="CREATE">
    </div>

    </div>

  </form>
</div>
